# Python cache and compiled files
__pycache__/

# Virtual environments
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE and editor folders
.vscode/

# Logs and databases
*.log
*.sqlite3
*.db

# System files
.DS_Store
Thumbs.db
